/* Stile generale della pagina */
body {
    font-family: 'inter', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Area dell'header */
header { 
    text-align: center;
    padding: 30px;
    color: #fff;
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif*/
}

/* Titolo dell'header */
header h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 150px;
    margin-bottom: 10px 10px;
    /*font-family:Merriweather;*/
}

/* Link della barra di navigazione */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 40px 50px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
  }

ul {
    list-style-type: none;
}

nav ul li a:hover {
    color: #1c1f22;
    background-color: #fff;
}

/* Immagine del cantante */
header img {
    max-width: 50%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Area del main */
main {
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /*background-color: #cac8c8;*/
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
}

/* Titoli delle sezioni */
main section h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center, 'justyfy';
}

/* Testo delle sezioni */
main section p {
    font-family: 'Ubuntu', sans-serif;
    line-height: 2.5;
    margin-bottom: 50px;
    text-align: center;
    align-items: center, justify;
    max-width: 685x450;
}


/* Lista dei contatti */
main section ul {
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

#pgn{
    font-size: larger;
    text-align: justify;
}

main section p img{
    max-width: 400px;
    width: 100%;
}

/* Icone social */
footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

footer section {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    background-color: #1c1f22;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer li + li {
    margin-left: 20px;
}

footer img {
    max-width: 50px;
    height: auto;
}

/* Aggiungi effetto di transizione all'immagine */
#SKA {
    transition: transform 0.3s ease-in-out;
  }
  
  /* Aggiungi effetto di hover all'immagine */
#SKA:hover {
    transform: scale(1.1);
  }

/*bottone per tornare all'inizio della pagina*/
.button{
    text-align: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: block;
    padding: 0px;
    width: 40px;
    border-radius: 50%;
}

/*box per le foto*/
main section div img{
    margin-right: 5px;
    margin-top: 10px;
    max-width: 300px;
    width: 33.33%;
}

main section div {
    display: flex;
    align-items: center;
    text-align: center;
}

.buttone {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff9900;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .buttone:hover {
    background-color: #ffad33;
  }
  
  #prodotto{
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 30px;
}
i {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px; 
}